name: Deploy sym64 via Ngrok

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SSH client
        run: sudo apt-get update && sudo apt-get install -y openssh-client

      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H 5.tcp.eu.ngrok.io >> ~/.ssh/known_hosts

      - name: Copy files to server via Ngrok
        run: |
          scp -P 15839 -i ~/.ssh/id_ed25519 -r ./ sonu@5.tcp.eu.ngrok.io:/home/sonu/sym64/

      - name: Restart Gunicorn for sym64
        run: |
          ssh -p 15839 -i ~/.ssh/id_ed25519 sonu@5.tcp.eu.ngrok.io "sudo systemctl restart sym64"
