name: Debug Secrets

on:
  workflow_dispatch:

jobs:
  show-secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Print secrets
        run: |
          echo "SSH_PRIVATE_KEY: $SSH_PRIVATE_KEY"
          echo "SERVER_HOST: $SERVER_HOST"
          echo "SERVER_USER: $SERVER_USER"
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SERVER_HOST: ${{ secrets.SERVER_HOST }}
          SERVER_USER: ${{ secrets.SERVER_USER }}

